{% extends "layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block titre %}réinitialisation du mot de passe{% endblock %}
{% block content %}


<div class="containertemplatemini">
    <div class="profil col m10 blue-grey lighten-5 offset-s1 left-align">
        <div class="row">
            <div class="left-align col s10 offset-s1">

                <h1 class="lime-text text-darken-2 h1form">Réinitialisation du mot de passe</h1>
                <br />

                <p>Les champs marqués d'une * sont obligatoires.</p>

    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <label for="fos_user_resetting_form_plainPassword_first" class="control-label">Nouveau mot de passe*</label>
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <label for="fos_user_resetting_form_plainPassword_second" class="control-label">Confirmation du mdp*</label>
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col s12 center-align">
                        <input type="submit" class="btn-large waves-effect waves-light deep-orange darken-4 centerbtn" value="Enregistrer" id="_submit">
                    </div>
                </div>

    {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
{% endblock content %}
