{% extends "layout.html.twig" %}
{% block googleMapScript %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrUDDkqQBXoHminEFVSDAAgF8jksDroU&callback=initMap">
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="{{ asset('js/viewUnconnectedMap.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">

        <div id="map-view"><p class="text-map">Si la carte ne s'affiche pas, essayez d'actualiser la page.</p></div>

    <div class="row">
        <div id="commenttab" class="table-responsive">
            <table class="table table-hover" id="myTable">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nom Vern</th>
                    <th>Habitat</th>
                    <th>Statut</th>
                    <th hidden>Latitude</th>
                    <th hidden>Longitude</th>
                    <th hidden>id</th>
                    <th hidden>Date observation</th>
                    <th>Filtre</th>
                </tr>
                </thead>
                <tbody>
                {% for taxref in listTaxrefs %}
                    <tr>
                        <td>{{ taxref.lbnom }}</td>
                        <td>{{ taxref.nonvern }}</td>
                        <td>
                           {% if taxref.habitat != null %}
                                {{ taxref.habitat }}
                            {% endif %}
                        </td>
                        <td>
                            {% if taxref.frStatut != null %}
                                {{ taxref.frStatut.description }}
                            {% endif %}
                        </td>
                        <td class="latitude" hidden>

                            {% for obstest in taxref.observations %}
                                <p class="latitude">{{ obstest.latitude }}</p>
                            {% endfor %}

                        </td>

                        <td class="longitude" hidden>

                            {% for obstestDeux in taxref.observations %}
                                <p class="longitude">{{ obstestDeux.longitude }}</p>
                            {% endfor %}

                        </td>
                        <td class="obsId" hidden>
                            {% for obsId in taxref.observations %}
                                <p class="obsId">{{ obsId.id }}</p>
                            {% endfor %}
                        </td>
                        <td class="obsDate" hidden>
                            {% for obsDate in taxref.observations %}
                                <p>{{ obsDate.dateObservation|date('d/m/Y') }}</p>
                            {% endfor %}
                        </td>
                        <td class="filtre-td"><button type="button" class="filtrer">Filtrer</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
