{% extends "layout.html.twig" %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseaux. Représentation cartographique des observations faites par des naturalistes et des particuliers, dans le cadre d’un programme de recherche et d’étude des effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.
{% endblock %}
{% block titre %}carte intéractive{% endblock %}
{% block googleMapScript %}
    <script src="{{ asset('js/viewUnconnectedMap.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrUDDkqQBXoHminEFVSDAAgF8jksDroU&callback=initMap">
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

{% endblock %}
{% block content %}
<div class="container container-viewAllObs z-depth-2 blue-grey lighten-5">

        <h1 class="center-align lime-text text-darken-1">Carte interactive d'observations</h1>
        <div id="map-view" class="col s12"><p class="text-map">Si la carte ne s'affiche pas, essayez d'actualiser la page.</p></div>

    <div class="row">
        <div class="col s12">
            <div class="material-table">
                <div class="table-header">
                    <span class="table-title">visualisation des observations validées</span>
                    <div class="actions">
                        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <table id="datatable">
                <thead>
                <tr>
                    <th>nom</th>
                    <th>nom Vern</th>
                    <th class="champ-responsive-hidden">habitat</th>
                    <th class="champ-responsive-hidden">statut</th>
                    <th hidden>Latitude</th>
                    <th hidden>Longitude</th>
                    <th hidden>id</th>
                    <th hidden>date observation</th>
                    <th>voir sur la carte</th>
                </tr>
                </thead>
                <tbody>
                {% for taxref in listTaxrefs %}
                    <tr>
                        <td>{{ taxref.lbnom }}</td>
                        <td>{{ taxref.nonvern }}</td>
                        <td class="champ-responsive-hidden">
                           {% if taxref.habitat != null %}
                                {{ taxref.habitat }}
                            {% endif %}
                        </td>
                        <td class="champ-responsive-hidden">
                            {% if taxref.frStatut != null %}
                                {{ taxref.frStatut.description }}
                            {% endif %}
                        </td>
                        <td class="latitude" hidden>

                            {% for obstest in taxref.observations %}
                                <p class="latitude">{{ obstest.latitude|number_format(2) }}</p>
                            {% endfor %}

                        </td>

                        <td class="longitude" hidden>

                            {% for obstestDeux in taxref.observations %}
                                <p class="longitude">{{ obstestDeux.longitude|number_format(2) }}</p>
                            {% endfor %}

                        </td>
                        <td class="obsId" hidden>
                            {% for obsId in taxref.observations %}
                                <p class="obsId">{{ obsId.id }}</p>
                            {% endfor %}
                        </td>
                        <td class="obsDate" hidden>
                            {% for obsDate in taxref.observations %}
                                <p>{{ obsDate.dateObservation|date('d/m/Y') }}</p>
                            {% endfor %}
                        </td>
                        <td class="filtre-td right-align"><a class="filtrer waves-effect waves-light"><i class="large material-icons deep-orange-text text-darken-4">visibility</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}
