<h3>Nous avons bien reçu votre message et nous vous répondrons au plus vite.</h3>

<p>Vous trouverez ci-dessous la copie des informations saisies dans le formulaire de contact.</p>

<p>Merci et à bientôt sur notre <a href="https://nao.groupe23.ovh/" target="_blank">site internet.</a></p>

<hr>

Demande envoyée le {{ "now"|date("m/d/Y") }} à {{ "now"|date("H:i") }}

Nom : {{ name }}
Prenom : {{ firstName }}
E-mail : {{ mail }}
Sujet : {{ subject }}
Demande : {{ message }}