<!-- MENU DEROULANT GESTION DE COMPTE -->
<ul id="compte" class="dropdown-content lime darken-2 white-text">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><a class="white-text" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    {% else %}
        <li><a class="white-text" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
        <li><a class="white-text" href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <li><a class="white-text" href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
        <li><a class="white-text" href="{{ path('dashboardObservations') }}">Mes observations</a></li>
    {% endif %}
</ul>

<!-- MENU DEROULANT Admin -->
<ul id="admin" class="dropdown-content lime darken-2 white-text">
    <li><a class="white-text" href="{{ path('adminUsers') }}">Gestion des utilisateurs</a></li>
    <li role="separator" class="divider"></li>
    <li><a class="white-text" href="{{ path('adminObservations') }}">Gestion des Observations</a></li>
    <li role="separator" class="divider"></li>
    <li><a class="white-text" href="{{ path('adminActualites') }}">Gestion des Actualites</a></li>
    <li><a class="white-text" href="{{ path('adminComments') }}">Gestion des Commentaires</a></li>
    <li><a class="white-text" href="{{ path('add') }}">Ajout d'une Actualité</a></li>
    <li role="separator" class="divider"></li>
    <li><a class="white-text" href="{{ path('filter') }}" class="openmodal">Exporter les données</a></li>
</ul>

<!-- MENU DEROULANT Observations -->
<ul id="navobs" class="dropdown-content lime darken-2">
    <li><a class="white-text" href="{{ path('addObservation') }}">Nouvelle observation</a></li>
    <li>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="white-text" href="{{ path('admin_listTaxrefs') }}">Visualisation Cartographique</a>
        {% elseif is_granted('ROLE_USER') %}
            <a class="white-text" href="{{ path('user_listTaxrefs') }}">Visualisation Cartographique</a>
        {% else %}
            <a class="white-text" href="{{ path('listTaxrefs') }}">Visualisation Cartographique</a>
        {% endif %}
    </li>
</ul>

<nav>
    <div class="nav-wrapper lime darken-2">
        <a href="{{ path('index') }}" class="brand-logo"><img src="{{ asset('images/logo-menu.png') }}" class="logo" /></a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="desktop" class="right hide-on-med-and-down">
            <li><a class="dropdown-button police32" href="#!" data-constrainwidth="false" data-activates="navobs">Observations<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="police32 "href="{{ path('nous_contacter') }}">Contact</a></li>
            <li><a class="police32" href="{{ path('actualites') }}">Actualités</a></li>
            <li><a class="dropdown-button police32" href="#!" data-constrainwidth="false" data-activates="compte">Mes informations<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button police32" href="#!" data-constrainwidth="false" data-activates="admin">Admin<i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>
        <!-- Menu Mobile -->
        <ul class="side-nav" id="nav-mobile">
            <li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-activates="navobs">Observations<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="{{ path('nous_contacter') }}">Contact</a></li>
            <li><a href="{{ path('actualites') }}">Actualités</a></li>
            <li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-activates="compte">Mes informations<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-activates="admin">Admin<i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>
    </div>
</nav>










