<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Groupe 23</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('listTaxrefs') }}">Espèces</a>
                </li>
                <li>
                    <a href="{{ path('addObservation') }}">Observations</a>
                </li>
                <li>
                    <a href="{{ path('nous_contacter') }}">Contact</a>
                </li>
                <li>
                    <a href="{{ path('filter') }}" class="openmodal">Export</a>
                </li>
                <li>
                    <a href="{{ path('actualites') }}">Actualités</a>
                </li>

                <!-- MENU DEROULANT MON COMPTE -->
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i> Mon compte<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                            <li><a href="{{ path('dashboardObservations') }}">Mes observations</a></li>

                        </ul>
                    </li>
                {% endif %}


                <!-- MENU DEROULANT ADMIN -->
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i> Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('adminUsers') }}">Gestion des utilisateurs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('adminObservations') }}">Gestion des Observations</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('adminActualites') }}">Gestion des Actualites</a></li>
                        <li><a href="{{ path('adminComments') }}">Gestion des Commentaires</a></li>
                        <li><a href="{{ path('add') }}">Ajout d'une Actualité</a></li>

                    </ul>
                    </li>
                {% endif %}
                <!-- MENU DEROULANT GESTION DE COMPTE -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle" aria-hidden="true"></i><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Créer un compte</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
