<!--###########################################################
#--------------------- MENU DESKTOP --------------------------#
###########################################################-->
<div class="navbar-fixed">
<nav class="transparent">
    <div class="nav-wrapper lime darken-2">
        <a href="{{ path('index') }}" class="brand-logo"><img src="{{ asset('images/logo-menu.png') }}" class="logo" /></a>
        <div class="fixed-action-btn" style="bottom: 15px; right: 15px;">
            <a id="menu" href="#" data-activates="nav-mobile" class="btn btn-floating btn-large deep-orange darken-4 blue-grey-text text-lighten-5 button-collapse"><i class="material-icons">menu</i></a>
        </div>

        <ul id="desktop" class="right hide-on-med-and-down">
            <li><a class="dropdown-button police32" href="#" data-constrainwidth="false" data-activates="navobs">Observations<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="waves-effect waves-rednao police32" href="{{ path('nous_contacter') }}">Contact</a></li>
            <li><a class="waves-effect waves-rednao police32" href="{{ path('actualites') }}">Actualités</a></li>
            <li><a class="dropdown-button police32" href="#" data-constrainwidth="false" data-activates="compte">Mes informations<i class="material-icons right">arrow_drop_down</i></a></li>
            {% if is_granted('ROLE_ADMIN') %}<li><a class="dropdown-button police32" href="#" data-constrainwidth="false" data-activates="admin">Admin<i class="material-icons right">arrow_drop_down</i></a></li>{% endif %}
        </ul>
    </div>
</nav>
</div>

<!-- MENU DEROULANT GESTION DE COMPTE -->
<ul id="compte" class="dropdown-content lime darken-2 blue-grey-text text-lighten-5">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    {% else %}
        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('dashboardObservations') }}">Mes observations</a></li>
    {% endif %}
</ul>

<!-- MENU DEROULANT Admin -->
{% if is_granted('ROLE_ADMIN') %}
<ul id="admin" class="dropdown-content lime darken-2 blue-grey-text text-lighten-5">
    <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('adminUsers') }}">Gestion des utilisateurs</a></li>
    <li role="separator" class="divider"></li>
    <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('adminObservations') }}">Gestion des Observations</a></li>
    <li role="separator" class="divider"></li>
    <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('adminActualites') }}">Gestion des Actualites</a></li>
    <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('adminComments') }}">Gestion des Commentaires</a></li>
    <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('add') }}">Ajout d'une Actualité</a></li>
    <li role="separator" class="divider"></li>
    <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5" href="{{ path('filter') }}">Exporter les données</a></li>
</ul>
{% endif %}

<!-- MENU DEROULANT Observations -->
<ul id="navobs" class="dropdown-content lime darken-2">
    <li><a class="blue-grey-text text-lighten-5" href="{{ path('addObservation') }}">Nouvelle observation</a></li>
    <li>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="blue-grey-text text-lighten-5" href="{{ path('admin_listTaxrefs') }}">Visualisation Cartographique</a>
        {% elseif is_granted('ROLE_USER') %}
            <a class="blue-grey-text text-lighten-5" href="{{ path('user_listTaxrefs') }}">Visualisation Cartographique</a>
        {% else %}
            <a class="blue-grey-text text-lighten-5" href="{{ path('listTaxrefs') }}">Visualisation Cartographique</a>
        {% endif %}
    </li>
</ul>


<!--###########################################################
#--------------------- MENU MOBILE --------------------------#
###########################################################-->

<ul id="nav-mobile" class="side-nav lime darken-2">
    <!--Observations -->
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-2">Observations<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('addObservation') }}">Nouvelle observation</a></li>
                        <li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('admin_listTaxrefs') }}">Visualisation Cartographique</a>
                            {% elseif is_granted('ROLE_USER') %}
                                <a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('user_listTaxrefs') }}">Visualisation Cartographique</a>
                            {% else %}
                                <a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('listTaxrefs') }}">Visualisation Cartographique</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <!--Contact et Actualités -->
    <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-2" href="{{ path('nous_contacter') }}">Contact</a></li>
    <li><a  class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-2" href="{{ path('actualites') }}">Actualités</a></li>    <li class="no-padding">
    <!--Mes informations -->
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-2">Mes informations<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                            <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('dashboardObservations') }}">Mes observations</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <!--Admin -->
    {% if is_granted('ROLE_ADMIN') %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-2">Admin<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('adminUsers') }}">Gestion des utilisateurs</a></li>

                        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('adminObservations') }}">Gestion des Observations</a></li>

                        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('adminActualites') }}">Gestion des Actualites</a></li>
                        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('adminComments') }}">Gestion des Commentaires</a></li>
                        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1" href="{{ path('add') }}">Ajout d'une Actualité</a></li>

                        <li><a class="waves-effect waves-rednao blue-grey-text text-lighten-5 lime darken-1 modal-trigger" data-target="modal2" href="{{ path('filter') }}">Exporter les données</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    {% endif %}

</ul> <!-- Fin Menu Mobile -->












