{% extends "layout.html.twig" %}

{% block content %}

    <h1>Modifier mon mot de passe</h1>

    <div id="fos_user_change_password">

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password col-lg-4 form-horizontal' } }) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <input class="btn" type="submit" value="{{ 'Valider' }}">
        {{ form_end(form) }}

    </div>

{% endblock content %}
