{% extends "layout.html.twig" %}
{% block titre %}index{% endblock %}
{% block scrollspy %}
    <script>
        $('.scrollspy').scrollSpy();
    </script>
    <script src="{{ asset('js/depth.js') }}"></script>
{% endblock %}
{% block content %}

<div class="coverimage">
    <div class="main-wrapper">
        <video id="video-oiseaux" preload="auto" autoplay loop >
            <source src="{{ asset('videos/Oiseaux-test-1.mp4') }}" type="video/mp4">
            <source src="{{ asset('videos/Oiseaux-test-1.webm') }}" type="video/webm">
            <source src="{{ asset('videos/Oiseaux-test-1.ogg') }}" type="video/ogg">
            Votre navigateur ne prend pas en charge cette vidéo.
        </video>


        <img src="{{ asset('images/imagemobile.jpg') }}" alt="oiseau bleu" class="image_petit_ecran">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <a href="{{ path('addObservation') }}" class="text-video waves-effect waves-light btn deep-orange darken-4 center-align z-depth-5">Je participe</a>
        {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="text-video waves-effect waves-light btn deep-orange darken-4 z-depth-5" >Je participe</a>
        {% endif %}

        <a href="#ancre_scroll"><img src="{{ asset('images/ic_keyboard_arrow_down_black_48px.svg') }}" alt="chevron" class="chevron-down"></a>

    </div>
</div>

    {#////////////////////////////////////////////////////////////////#}

    <div class="containerblanc">

        <div class="container blue-grey lighten-5 container_accueil z-depth-2">

            <div class="row encart_haut">

                <div class="col m12 ">
                    <a href="{{ path('listTaxrefs') }}">
                        <div class="encartcarte">
                                <img class="z-depth-2" src="{{ asset('images/map_interactive2.jpg') }}" alt="carte interactive" id="cartecarte">
                        </div>
                        <div class="textecarte z-depth-2">
                            <p class="encarttexte">carte interactive</p>
                        </div>
                    </a>

                    <a href="{{ path('addObservation') }}">
                        <div class="texteoiseau z-depth-2">
                            <p class="encartoiseau">ajouter une observation</p>
                        </div>
                        <div class="encartaddobs">
                            <img class="z-depth-2" src="{{ asset('images/observation.jpg') }}" alt="oiseau_image" id="oiseauimage">
                        </div>
                    </a>
                </div>

            </div>

            <hr class="hr_encart">

            <h1 class="center-align lime-text text-darken-1 titre_nao">NAO</h1>

            <div class="row">

                <div class="col xl4 l12">

                    <div id="textegauche">
                        <p>
                            Nous sommes des passionnés d’ornithologie, naturalistes professionnels ou amateurs engagés pour la protection de l’environnement.
                        </p>
                        <p>
                            La plupart de nos bénévoles exercent en tant que professionnels dans le milieu de l’environnement, du développement durable, de l’ornithologie...
                        </p>
                        <p>
                            Notre association  intervient régulièrement dans toute la France, pour alerter et sensibiliser les habitants à la fragilité de l’écosystème et par extension celle de nos compères ailés.
                        </p>
                        <p>
                            Outre ces campagnes d’initiation à la préservation du patrimoine naturel, nous menons depuis des années des recherches sur le comportement, le rôle et l’évolution des populations d’oiseaux sur le territoire français.
                        </p>
                    </div>
                </div>

                <div class="col xl4 l12">

                    <div id="ancre_scroll" class="imagecentre scrollspy center-align">
                        <img src="{{ asset('images/spotting-scope-1504365_1920.jpg') }}" alt="peroquet" id="imagecentre" class="imgcentre z-depth-1">
                    </div>
                </div>

                <div class="col xl4 l12">

                    <div id="textedroit" class="left-align">
                        <p>
                            A nos yeux, la protection de l’environnement est l’affaire de tous, c’est pourquoi nous avons créé ce programme participatif de récolte d’observations citoyennes.
                        </p>
                        <p>
                            Pour étudier le plus finement possible les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité, les chercheurs ont besoin de recevoir de nombreuses données, et cela nécessite un important réseau d'observateurs pour assurer localement les relevés et inventaires sur le terrain.
                        </p>
                        <p>
                            La mise en commun de ces données permet de réaliser des analyses au niveau national et européen.
                        </p>
                    </div>

                </div>

            </div>

            <div class="row>">

                <div class="col l10 offset-l1">
                    <h4 class="center-align lime-text text-darken-1">Nos amis les oiseaux<br />
                   Mieux les connaitre pour mieux les protéger</h4>
                </div>
                <br />
                
            </div>


            <div class="row">

                <div class="col l12">

                    <div id="dernier_texte">
                        <p>
                            Créez votre compte Observateur, et participez dès maintenant au programme !
                            Soumettez vos observations en indiquant l’espèce rencontrée, la date et le lieu de l’observation. Que vous soyez sur smartphone ou sur ordinateur, notre carte de géolocalisation vous aide à indiquer facilement les coordonnées GPS.
                            <br>
                            N’hésitez pas à prendre en photo vos découvertes !
                        </p>
                        <p>
                            Toutes les fiches d’observation sont vérifiées par nos naturalistes avant d’être publiées. En tant qu’Observateur, vous avez accès à toutes les observations publiées grâce à la carte interactive. Par souci de protection des espèces en danger ou en couvaison, certaines observations peuvent ne pas être publiées.
                        </p>
                    </div>
                </div>

            </div>

            <hr class="hr_encart">

        {#///////////////////////#}
            <br/>

            <div class="row encart_bas">

                <div class="col s4 center-align">
                    <a href="{{ path('nous_contacter') }}">
                        <div class="encartcontact">
                            <img class="z-depth-2"  src="{{ asset('images/pigeon.jpg') }}" alt="carte interactive" id="oiseaucontact">
                        </div>
                        <div class="textecontact z-depth-2">
                            <p class="encarttexte">nous contacter</p>
                        </div>
                    </a>
                </div>

                <div class="col s4 center-align">

                    <div class="row">
                        <div class="col s12">
                            <div class="encartcentral">
                                <a href="#">
                                    <div class="col s6 colgauche">
                                        <img class="z-depth-2" src="{{ asset('images/oiseaux_sociaux.jpg') }}" alt="carte interactive" id="oiseaufacebook">
                                    </div>
                                    <div class="col s6 coldroite">
                                        <div class="textefacebook z-depth-2">
                                            <p class="encarttexte">facebook</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <a href="#">
                        <div class="encartoiseau">
                            <div class="textenewsletter z-depth-2">
                                <p class="encartoiseau">inscription newsletter</p>
                            </div>
                            <img class="z-depth-2" src="{{ asset('images/chouette.jpg') }}" alt="oiseau_image" id="oiseaunewsletter">
                        </div>
                    </a>
                </div>

            </div>

        </div>

    </div>



{% endblock %}
