{% block modal3content %}

    <h4>{{ comment.author.username }}</h4>
    <p>{{ comment.date|date("d-m-Y H:i:s") }}</p>
<p>{{ comment.content }}</p>

<div class="modal-fix-footer">

    <form action="{{ url('deleteComment', {'id': comment.id}) }}"
          id="unsignal" method="post" data-confirmation="true"
          style="display: inline-block"
          onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce commentaire ?');">
        <input type="hidden" name="token"
               value="{{ csrf_token('disable') }}"/>
        <button type="submit"
                class="btn deep-orange darken-4 right-align" style="margin: 5px;">

            <i class="material-icons">delete</i>
        </button>
    </form>


    <form action="{{ url('unsignalComment', {'id': comment.id}) }}"
          id="unsignal" method="post" data-confirmation="true"
          style="display: inline-block"
          onsubmit="return confirm('Etes-vous certain de vouloir valider ce commentaire ?');">
        <input type="hidden" name="token"
               value="{{ csrf_token('disable') }}"/>
        <button type="submit"
                class="btn lime darken-2 right-align" style="margin: 5px;">

            <i class="material-icons">done</i>
        </button>
    </form>


</div>



{% endblock %}
