{% extends "layout.html.twig" %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseaux. Gestion des commentaires.
{% endblock %}
{% block titre %}gestion des commentaire{% endblock %}
{% block content %}
    <div class="container container-table">
        <div class="row">
            <div id="admin" class="col s12">
                <div class="card material-table">
                    <div class="table-header">
                        <span class="table-title">Modération des Commentaires</span>
                        <div class="actions">
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <table id="datatable">
                        <thead>
                        <tr>
                            <th class="col-comDate">date</th>
                            <th class="col-comArticle">Article</th>
                            <th class="col-comAuteur">auteur</th>
                            <th class="col-comCom">Commentaire</th>
                            <th class="col-comAction"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in listComments %}
                            <tr {% if comment.signaled == true %}
                                class="deep-orange lighten-3"
                                    {% endif %}>
                                <td class="col-comDate left-align">{{ comment.date|ago }}</td>
                                <td class="col-comArticle left-align">{{ comment.article.title }}</td>
                                <td class="col-comAuteur left-align">{{ comment.author.username }}</td>
                                <td class="col-comCom left-align">
                                    {% if comment.content|length > 50 %}
                                    {{ comment.content|slice(0, 49) }}...
                                    {% else %}
                                        {{ comment.content }}
                                    {% endif %}
                                </td>
                                <td class="btn-container col-comAction center-align">
                                    <form action="{{ url('unsignalComment', {'id': comment.id}) }}"
                                          id="unsignal" method="post" data-confirmation="true"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous certain de vouloir valider ce commentaire ?');">
                                        <input type="hidden" name="token"
                                               value="{{ csrf_token('disable') }}"/>
                                        <button type="submit" data-tooltip="enlever signalement"
                                                class="tooltipped btn-floating btn-small lime darken-2 right-align-align" style="margin: 5px;">

                                            <i class="material-icons">done</i>
                                        </button>
                                    </form>
                                    <a data-target="modal3" data-tooltip="voir" class="tooltipped modal-trigger commodal btn-floating btn-small lime darken-2 right-align" href="{{ path('commentModale', {'id': comment.id}) }}"><i class="white-text material-icons">visibility</i></a>
                                    <form action="{{ url('deleteComment', {'id': comment.id}) }}"
                                          id="unsignal" method="post" data-confirmation="true"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce commentaire ?');">
                                        <input type="hidden" name="token"
                                               value="{{ csrf_token('disable') }}"/>
                                        <button type="submit" data-tooltip="supprimer"
                                                class="tooltipped btn-floating btn-small deep-orange darken-4 right-align" style="margin: 5px;">

                                            <i class="material-icons">delete</i>
                                        </button>
                                    </form>


                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
