{% block collapsible %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();

        });
        $('.collapsible').collapsible();
    </script>
{% endblock %}
{% block modalcontent %}
    <div class="row">
        <div class="modobs-photo col m4"><!-- debut photo de l'observation -->
            {% if observation.imageName %}
                <img src="{{ vich_uploader_asset(observation, 'imageFile') }}" class="responsive-img"
                     style="max-width: 100%; max-height: 300px;" alt="{{ observation.taxref }}"/>
            {% endif %}
        </div><!-- Fin photo de l'observation -->
        <div class="modobs-title lime-text text-darken-2 col s10 m6"><!-- debut titre de l'observation -->
            <h4>{{ observation.taxref.lbnom }}</h4><br>
            {{ observation.date|date("d-m-Y") }}
        </div><!-- Fin titre de l'observation -->
        <div class="modobs-avatar lime-text text-darken-2 center-align col s2"><!-- debut avatar autheur -->
            <img src="{{ vich_uploader_asset(observation.user, 'avatarFile') }}" class="responsive-img circle"
                 alt="{{ observation.user.username }}"/><br>
            {{ observation.user.username }}
        </div><!-- Fin avatar autheur -->
    </div>

    <div class="row">

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons lime-text text-darken-2">photo</i>état</div>
                <div class="collapsible-body"><span>
                {% if observation.waiting == true %}
                <span><i class="material-icons lime-text text-darken-2">watch_later</i>en attente...</span>
                {% elseif observation.valided == true %}
                <span><i class="material-icons lime-text text-darken-2">check_circle</i>validée.</span>
                {% else %}
                <span><i class="material-icons lime-text text-darken-2">cancel</i>non validée.</span>
                {% endif %}
                    </span>
                </div>

            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons lime-text text-darken-2">comment</i>commentaire</div>
                <div class="collapsible-body"><span>{{ observation.comment }}</span></div>
            </li>
            {% if observation.adminComment %}
            <li>
                <div class="collapsible-header"><i class="material-icons lime-text text-darken-2">message</i>avis du naturaliste</div>
                <div class="collapsible-body">
                    <span>{{ observation.adminComment }}</span>
                </div>
            </li>{% endif %}
            {% if observation.imageName %}
            <li>
                <div class="collapsible-header"><i class="material-icons lime-text text-darken-2">photo</i>photo</div>
                <div class="collapsible-body"><span><img src="{{ vich_uploader_asset(observation, 'imageFile') }}" class="responsive-img"
                                                         style="max-width: 100%; max-height: 300px;" alt="{{ observation.taxref }}"/></span></div>
            </li>
            {% endif %}
        </ul>
    </div>



    <!-- Bouton "plus d'infos" -->

    <div class="plusinfo col s12">
        <a class="plusinfobtn btn waves-effect waves-light deep-orange darken-4 center-align"
           href="{{ path('viewObservation', {'id': observation.id}) }}">Plus d'infos</a>
    </div>





{% endblock %}





