{% form_theme form 'bootstrap_3_layout.html.twig' %}
<form method="post" action="{{ path('statut', {'id': observation.id}) }}">
    <div class="modal-header">
        <h1>Modifier le statut de l'observation</h1>
    </div>
    <p>
    Actuellement, l'observation est
        {% if observation.valided == true %}
            validée
        {% else %}
            invalidée
        {% endif %}
        et
        {% if observation.visible == true %}
            publique.
        {% else %}
            non publique.
        {% endif %}
    </p>

    <div class="modal-body">
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.valided, "Validation") }}
            {{ form_errors(form.valided) }}
            {{ form_widget(form.valided) }}
        </div>

        <div>
            {{ form_label(form.visible, "Publication") }}
            {{ form_errors(form.visible) }}
            {{ form_widget(form.visible) }}
        </div>

    </div>
    <div class="modal-footer">
        {{ form_rest(form) }}
        <div class="form-group">
            <input type="submit" value="Valider" class="btn btn-default pull-right"/>
        </div>
    </div>
</form>
