{% extends "layout.html.twig" %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseaux. Gestion des observations.
{% endblock %}
{% block titre %}gestion des observations{% endblock %}
{% block content %}
<div class="container container-table">
    <div class="row">
        <div id="admin" class="col s12">
            <div class="card material-table">
                <div class="table-header">
                    <span class="table-title">gestion des observations</span>
                    <div class="actions">
                        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <table id="datatable">
                    <thead>
                    <tr>
                        <th class="col-validation">Val°</th>
                        <th class="col-date">date</th>
                        <th class="col-taxref">taxref</th>
                        <th class="col-auteur">auteur</th>
                        <th class="col-publication">publication</th>
                        <th class="col-administrateur">administrateur</th>
                        <th class="col-action"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for observation in listObservations %}
                  <tr {% if observation.waiting == true %}
                            class="deep-orange lighten-3"
                                {% endif %}>

                            <td class="col-validation left-align">
                                {% if observation.waiting == true %}
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i>
                                {% else %}
                                    {% if observation.valided == true %}<i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                    {% else %}<i class="fa fa-times" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}

                            </td>
                            <td class="col-date left-align">{{ observation.date|date("d-m-Y") }}</td>
                            <td class="col-taxref left-align">{{ observation.taxref.lbnom }}</td>
                            <td class="col-auteur left-align">{{ observation.user.username }}</td>
                            <td class="col-publication left-align">
                                {% if observation.waiting == false %}
                                    {% if observation.valided == false %}
                                        NP
                                    {% else%}
                                        {% if observation.visible == true %}
                                            <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                        {% else %}NP
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="col-administrateur left-align">{{ observation.adminUsername }} <br />
                                {% if observation.adminComment is not null %}
                                Commentaire :
                                {{ observation.adminComment }}</td>
                            {% endif %}
                            <td class="col-action right-align">
                                <a data-target="modal2" class="modal-trigger waves-effect waves-light" href="{{ path('observationModale', {'id': observation.id}) }}"><i class="large material-icons deep-orange-text text-darken-4">visibility</i></a>
                            </td>
                            </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
