{% extends "layout.html.twig" %}

{% block googleMapScript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset('js/addObsCompletion.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <h1>Modifier une observation</h1>

        <div class="well">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <p>Date d'enregistrement : le {{ observation.date|date('d/m/Y à H:i') }}</p>
            <p>Date de l'observation : le {{ observation.dateObservation|date('d/m/Y') }}</p>
            <p>Auteur : {{ observation.user }}</p>
            <p> Commentaire :
                {% if observation.comment is null %}
                    sans commentaire.
                {% else %}
                    {{  observation.comment }}
                {% endif %}
            </p>
            {% if observation.image is not null %}
                <img style="height:150px;" src="{{ asset(observation.image) }}"/>
            {% endif %}

            {# Champ Taxref #}
            <div>
                {{ form_label(form.taxref, "Choisissez une espèce") }}
                {{ form_errors(form.taxref) }}
                {{ form_widget(form.taxref, {'attr': {'class': 'oiseaux'}}) }}
                <p class="text-identifier">Vous avez un doute sur l'espèce observée ? Vous pouvez l'indentifier à l'aide de <a href="http://www.oiseaux.net/identifier/" target="_blank">cette page</a></p>
            </div>

            {% if observation.taxref.protected == true %}
                    <strong>Espèce protégée</strong>
            {% endif %}

            {# Champ commentaires #}
            <div>
                {{ form_label(form.comment, "Modifier le commentaire") }}
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }}
            </div>

            <div>

                {% if observation.waiting == true %}
                Observation en attente de validation
                {% else %}
                    <p>Actuellement, l'observation est
                    {% if observation.valided == true %}
                        validée
                    {% else %}
                        invalidée
                    {% endif %}
                    et
                    {% if observation.isVisible == true %}
                        publique.
                    {% else %}
                        non publique.
                    {% endif %}
                    </p>
                    <a href="{{ path('statut', {'id': observation.id}) }}" class="btn btn-default navbar-btn openmodal">Modifier le statut de l'observation</a>
                {% endif %}

            </div>

            <div>
                <a class="btn btn-default pull-left" id="Retour" href="{{ path('adminObservations')}}" role="button">Annuler</a>
                <input type="submit" value="Valider" class="btn btn-default pull-right"/>
            </div>


            {{ form_end(form) }}
        </div>

    </div>
</div>
{% endblock %}

