<div class="modal-content">
    <div class="row">
        <div class="col s12">
            <h4>{{ observation.taxref.lbnom }}</h4>
            <span>
                Actuellement, l'observation est
                {% if observation.valided == true %}
                    validée
                {% else %}
                    invalidée
                {% endif %}
                et
                {% if observation.isVisible == true %}
                    publique.
                {% else %}
                    non publique.
                {% endif %}
            </span>

        </div>
    </div>
    <div class="row">
        <div class="obs-modal-img col s12 m6">
            {% if observation.imageName %}
                <img src="{{ vich_uploader_asset(observation, 'imageFile') }}" class="responsive-img" style="max-width: 100%; max-height: 300px;" alt="{{ observation.taxref }}"/>
            {% endif %}
            <div class="clear">
            </div>
        </div>
        <div class="col s12 m6">
            <div class="col s6">
                {{ observation.date|date("d-m-Y") }}
            </div>
            <div class="col s6">
                {% if observation.user.avatarName %}
                    <div class="chip">
                        <img src="{{ vich_uploader_asset(observation.user, 'avatarFile') }}" class="col-md-2"
                             alt="{{ observation.user.username }}"/>
                        {{ observation.user.username }}
                    </div>
                {% else %}
                    <h5>{{ observation.user.username }}</h5>
                {% endif %}
            </div>
            <div class="col s12">
                {{ observation.comment }}
                {{  observation.adminUsername }} <br />
                {% if observation.adminComment is not null %}
                Commentaire Naturaliste:
                {{ observation.adminComment }}
                {% endif %}
            </div>

        </div>
    </div>
</div>

<div class="modal-footer center-align">

            <a class="btn-large waves-effect waves-light deep-orange darken-4 center-align" href="{{ path('viewObservation', {'id': observation.id}) }}">Plus d'infos</a>
            <a href="{{ path('deleteObservation', {'id': observation.id}) }}" class="btn-large waves-effect waves-light deep-orange darken-4 center-align" role="button">Supprimer</a>
            <a href="{{ path('edit', {'id': observation.id}) }}" class="btn-large waves-effect waves-light deep-orange darken-4 center-align" role="button">Modifer</a>


    </div>


