{% extends "layout.html.twig" %}
{% block content %}
    <div id="observationtab" class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
            <tr>
                <th>Validée</th>
                <th>Date</th>
                <th>Taxref</th>
                <th>Utilisateur</th>
                <th>Commentaire</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for observation in listObservations %}
                <tr {% if observation.valided == false %}class="danger" {% endif %}>
                    <td>{% if observation.valided == true %}<i class="fa fa-check" aria-hidden="true" style="color: green;"></i> {{ observation.valided }}{% else %}<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red;"></i> {{ observation.valided }}{% endif %}

                    </td>
                    <td>{{ observation.date|date("d-m-Y H:i:s") }}</td>
                    <td>{{ observation.taxref.lbnom }}</td>
                    <td>{{ observation.user.username }}</td>
                    <td>{{ observation.comment }}</td>
                    <td>
                        <a href="{{ path('viewObservation', {'id': observation.id}) }}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-sunglasses"></i></a>

                        <a href="{{ path('edit', {'id': observation.id}) }}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-edit"></i></a>

                        <a href="{{ path('deleteObservation', {'id': observation.id}) }}" class="btn btn-danger" role="button" data-confirm="Etes-vous certain de vouloir supprimer cette observation ?"><i class="glyphicon glyphicon-trash"></i></a>
                        <a href="{{ path('validObservation', {'id': observation.id}) }}" class="btn btn-success" role="button" data-confirm="Etes-vous certain de vouloir valider cette observation ?"><i class="glyphicon glyphicon-ok"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
