{% block titre %}
    <h4>Traitement de l'observation</h4>
{% endblock %}
    {% if observation.taxref.protected == true %}
        <p><strong>Rappel : Espèce protégée.</strong></p>
    {% endif %}

{% block comment %}
                    {{ form_label(form.adminComment, "Votre commentaire") }}
                    {{ form_errors(form.adminComment) }}
                    {{ form_widget(form.adminComment) }}
{% endblock %}

{% block valided %}
                    {{ form_label(form.valided, "Validation") }}
                    {{ form_errors(form.valided) }}
                    {{ form_widget(form.valided) }}
{% endblock %}
{% block visible %}
                    {{ form_label(form.valided, "Publication") }}
                    {{ form_errors(form.isVisible) }}
                    {{ form_widget(form.isVisible) }}
{% endblock %}
{% block modalfooter %}
    {{ form_rest(form) }}
    <input type="submit" value="Valider" class="waves-effect waves-green btn-flat"/>
{% endblock %}
