{% extends "layout.html.twig" %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseaux. Créer un compte.
{% endblock %}
{% block titre %}créer un compte{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

<div class="containertemplatemini">
    <div class="inscription col m10 blue-grey lighten-5 offset-s1 left-align">
        <div class="row">

            <div class="left-align col s12 cadreinscription">

                <h1 class="lime-text text-darken-2 h1form">Formulaire d'inscription</h1>

                {{ form_start(form, { 'action': path('fos_user_registration_register'), 'attr': { 'class': 'fos_user_registration_register  form-horizontal' } }) }}

                    <p>Les champs marqués d'une * sont obligatoires.</p>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="fos_user_registration_form_email" class="control-label">Email*</label>
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="fos_user_registration_form_username" class="control-label">Nom d'utilisateur* </label>
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="fos_user_registration_form_plainPassword_first" class="control-label">Mot de passe*</label>
                                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="fos_user_registration_form_plainPassword_second" class="control-label">Confirmation du mdp*</label>
                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_label(form.lastName, "Nom*") }}
                                {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_label(form.firstName, "Prénom*") }}
                                {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_label(form.codePostal, "Code Postal*") }}
                                {{ form_widget(form.codePostal, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.codePostal) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_label(form.town, "Ville*") }}
                                {{ form_widget(form.town, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.town) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="formbirthday">
                                 {{ form_label(form.birthDate, "Date de naissance") }}
                                 {{ form_widget(form.birthDate, {'attr': {'class': 'multiple birthdate'}}) }}
                                 {{ form_errors(form.birthDate) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <!-- Téléphone -->
                                <!-- Génération du label. -->
                                {{ form_label(form.phone, 'Téléphone (mobile)') }}
                                <!-- Affichage des erreurs pour ce champ précis. -->
                                {{ form_errors(form.phone) }}
                                <!-- Génération de l'input. -->
                                <br>
                                <input type="tel" name="UserBundle_RegistrationType[phone]"
                    class="input-field form-control"/>
                                <!-- {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }} -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="">
                                {{ form_label(form.avatarFile) }}
                                {{ form_widget(form.avatarFile, {'attr': {'class': 'filestyle','data-placeholder': 'Veuillez sélectionner une image < 512 ko', 'data-buttonName': 'btn-large waves-effect waves-light deep-orange darken-4 btnparcourir','data-buttonText': 'Parcourir'}})}}
                                {{ form_errors(form.avatarFile) }}
                            </div>
                        </div>
                    </div>

                {{ form_rest(form) }}

                <br />
                <hr class="hr_encart">
                <br />

                <footer>

                    <div class="row">
                        <div class="col s12 center-align">
                            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />
                            <input type="submit" class="btn-large waves-effect waves-light deep-orange darken-4 centerbtn" value={{ 'Enregistrer' }} id="_submit">
                        </div>
                    </div>

                </footer>


                {{ form_end(form) }}


            </div>
        </div>
    </div>
</div>

{% endblock%}


