{# Conteneur Google map #}
<div id="map">Si la carte ne s'affiche pas, essayez d'actualiser la page.</div>
<div id="map-text"><p>Cliquez sur la carte pour obtenir les coordonées du lieu de l'observation</p></div>

<div class="well">

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.dateObservation, "Date d'observation") }}
        {{ form_errors(form.dateObservation) }}
        {{ form_widget(form.dateObservation, {'attr':{'placeholder':'Sélectionner une date'}}) }}
    </div>

    <div>
        {{ form_label(form.comment, "Commentaire") }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment) }}
    </div>

    <div>
        {{ form_label(form.latitude, "Latitude") }}
        {{ form_errors(form.latitude) }}
        {{ form_widget(form.latitude, {'attr': {'class': 'form-control latitude', 'readonly': 'readonly'}}) }}

    </div>

    <div>
        {{ form_label(form.longitude, "Longitude") }}
        {{ form_errors(form.longitude) }}
        {{ form_widget(form.longitude, {'attr': {'class': 'form-control longitude', 'readonly': 'readonly'}}) }}
    </div>

    <div>
        {{ form_label(form.taxref, "Choisissez une espèce") }}
        {{ form_errors(form.taxref) }}
        {{ form_widget(form.taxref, {'attr': {'class': 'oiseaux'}}) }}
        <p class="text-identifier">Vous avez un doute sur l'espèce observée ? Vous pouvez l'indentifier à l'aide de <a href="http://www.oiseaux.net/identifier/" target="_blank">cette page</a></p>
    </div>

    <div>
        {{ form_label(form.image, "Ajouter une image") }}
        {{ form_errors(form.image) }}
        {{ form_widget(form.image) }}
    </div>

    {{ form_rest(form) }}

    <br />

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" type="submit">Valider</button>

        </div>
    </div>


    {{ form_end(form) }}
</div>
