{% extends "layout.html.twig" %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseau. Modifier mon profil.
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
{% block titre %}modifier mon profil{% endblock %}
{% block content %}

<div class="containertemplatemini">

    <div class="profil col s10 blue-grey lighten-5 offset-s1 left-align">

        <div class="row">

            <div class="left-align col s12 cadreinscription">

                <h1 class="lime-text text-darken-2 h1form">Modifier mon profil</h1>
                <p>Les champs marqués d'une * sont obligatoires.</p>
                <br />

                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit col-lg-4 form-horizontal' } }) }}

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_label(form.lastName, "Nom") }}
                                {{ form_widget(form.lastName, { 'attr':{'readonly': 'readonly'}} ) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_label(form.firstName, "Prénom") }}
                                {{ form_widget(form.firstName, { 'attr':{'readonly': 'readonly'}}) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="fos_user_registration_form_email" class="control-label">Email*</label>
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="fos_user_registration_form_username" class="control-label">Pseudo*</label>
                                {{ form_widget(form.username) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col m6 s12">
                            <div class="input-field">
                                {{ form_label(form.codePostal, "Code Postal*") }}
                                {{ form_widget(form.codePostal) }}
                                {{ form_errors(form.codePostal) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_label(form.town, "Ville*") }}
                                {{ form_widget(form.town) }}
                                {{ form_errors(form.town) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="formbirthday">
                                {{ form_label(form.birthDate, "Date de naissance") }}
                                {{ form_widget(form.birthDate) }}
                                {{ form_errors(form.birthDate) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field Phone">
                                {{ form_label(form.phone, "Téléphone") }}
                                {{ form_widget(form.phone) }}
                                {{ form_errors(form.phone) }}
                           </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col s12">
                        <div class="file-field input-file valided">
                            {{ form_label(form.avatarFile) }}
                            {{ form_widget(form.avatarFile, {'attr': {'class': 'filestyle','data-placeholder': 'Veuillez sélectionner une image < 512 ko', 'data-buttonName': 'btn-large waves-effect waves-light deep-orange darken-4 btnparcourir','data-buttonText': 'Parcourir'}}) }}
                            {{ form_errors(form.avatarFile) }}
                        </div>
                    </div>
                </div>

<br />




                <div class="row">
                    <div class="col s12">
                        <p>Renseignez votre mot de passe actuel pour pouvoir modifier votre profil.</p>
                        <div class="input-field">
                            {{ form_label(form.current_password, "Mot de passe") }}
                            {{ form_widget(form.current_password)}}
                            {{ form_errors(form.current_password) }}
                        </div>
                    </div>
                </div>


            {{ form_rest(form) }}

                <br />

                <div class="row">
                    <div class="col s12 center-align">
                        <a class="btn-large waves-effect waves-light deep-orange darken-4 editprofilretour" id="editprofilretour" href="{{ path('fos_user_profile_show') }}" role="button">Annuler</a>
                        <input class="btn-large waves-effect waves-light deep-orange darken-4 editprofilvalider" id="editprofilvalider" type="submit" value="{{ 'Enregistrer' }}">
                    </div>
                </div>

            {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>

{% endblock content %}
