{% extends "layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block metaDescription %}
    NAO. Site participatif de collecte d’observations d’oiseaux. Profil.
{% endblock %}
{% block titre %}mon profil{% endblock %}
{% block content %}

    <div class="containertemplatemini">

        <div class="profil col m10 blue-grey lighten-5 offset-s1 left-align">
            <div class="row">
                <div class="center-align col s12 m10">
                    <h1 class="lime-text text-darken-2 h1form"> mon profil</h1>
                    <p class="lime-text text-darken-2 police32">date d'inscription : {{ user.dateRegister|date('d/m/Y') }}</p>
                </div>
                <div class="profile-frame-round">
                    <div class="profile-crop center-align center">

                        {% if user.avatarName is null %}
                            <img class="profilimgcrop" src="{{ asset('uploads/avatars/profile-icon-9.png') }}" alt="{{ user.username }}">
                        {% else %}
                            <img src="{{ vich_uploader_asset(user, 'avatarFile') }}" class="profilimgcrop"
                             alt="{{ user.username }}"/>
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="input-field col m4">
                    <input disabled value="{{ user.firstName }}" id="first_name" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="first_name">prénom</label>
                </div>
                <div class="input-field col m4">
                    <input disabled value="{{ user.lastName }}" id="last_name" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="first_name">nom</label>
                </div>
                <div class="input-field col m4">
                    <input disabled value="{% if user.birthDate|date('d/m/Y') == '01/01/1897' %}Non précisée{% else %}{{ user.birthDate|date('d/m/Y') }}{% endif %}" id="birthdate" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="birthdate">date de naissance</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m4">
                    <input disabled value="{{ user.codePostal }}" id="postal-code" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="postal-code">code Postal</label>
                </div>
                <div class="input-field col m4">
                    <input disabled value="{{ user.town }}" id="town" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="town">Ville</label>
                </div>
                <div class="input-field col m4">
                    <input disabled value="{% if user.phone is null %}non renseigné{% else %}{{ user.phone }}{% endif %}" id="phone" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="phone">téléphone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m4">
                    <input disabled value="{{ user.email }}" id="email" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="email">e-mail</label>
                </div>
                <div class="input-field col m4">
                    <input disabled value="{{ user.username }}" id="username" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="username">nom d'utilisateur</label>
                </div>
                <div class="input-field col m4">
                    <input disabled value="{% if is_granted('ROLE_SUPER_ADMIN') %}Super administateur{% elseif is_granted('ROLE_ADMIN') %}Administrateur naturaliste{% else %}Observateur{% endif %}" id="role" type="text" class="validate blue-grey-text text-darken-3 police32">
                    <label class="lime-text text-darken-2 police32" for="role">rôle</label>
                </div>
            </div>
            <div class="profilaction row center center-align">
                <div class="col m6"><a class="deep-orange-text text-darken-4" id="editprofile"
                                       href="{{ path('fos_user_profile_edit') }}" role="button">modifier mon
                        profil</a></div>
                <div class="col m6"><a class="deep-orange-text text-darken-4"
                                       id="fos_user_change_password" href="{{ path('fos_user_change_password') }}"
                                       role="button">changer de mot de passe</a></div>
            </div>
        </div>
    </div>


{% endblock content %}

