 {% form_theme form 'utils/materialize_layout.html.twig' %}
    {{ form_start(form) }}
<div class="modal-header">
    <h1>Ajout d'un commentaire</h1>
</div>
<div class="modal-content">
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    {# Génération du label + error + widget pour un champ. #}
    {% if form.date is defined %}
        {{ form_row(form.date) }}
    {% endif %}
    {# Génération manuelle et éclatée : #}
    <div>
        {{ form_label(form.content, "Contenu") }}
        {{ form_errors(form.content) }}
        <div>
            {{ form_widget(form.content) }}
        </div>
    </div>
</div>
<div class="modal-footer">

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i>
                Enregistrer
            </button>
        </div>
    </div>
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}
