{% macro afficherCommentaires(commentaires) %}
    {% import _self as self %}
    {% for comment in commentaires %}
        {% set decalage = comment.level - 1 %}
        <div class="row">

            <div class="articleComments col offset-m{{ decalage }} offset-s{{ decalage }} s9">

                <div class="blue-grey-text text-darken-3">
                    <div class="chip commenttitle col s12 lime darken-2 blue-grey-text text-lighten-5">
                        {% if comment.author.avatarName is null %}
                            <img class="responsive-img circle" src="{{ asset('uploads/avatars/profile-icon-9.png') }}" alt="{{ comment.author }}">
                        {% else %}
                            <img src="{{ vich_uploader_asset(comment.author, 'avatarFile') }}"
                             class="responsive-img circle" alt="{{ comment.author }}"/>
                        {% endif %}
                        {{ comment.author }} - {{ comment.date|ago }}
                    </div>

                    {{ comment.content|nl2br }}

                </div>
                <div class="col s12 iconescommentaires card-action">
                    {% if comment.level < constant('\\AppBundle\\Entity\\Comment::NUM_LEVELS') %}
                        <a data-tooltip="répondre" data-target="modal2" class="tooltipped modal-trigger waves-effect waves-light hoveric "
                           href="{{ path('replyComment', {'slug': comment.article.slug, 'id': comment.id}) }}"><i
                                    class="material-icons couleuricone">reply</i></a>
                    {% endif %}
                    <a data-tooltip="signaler" class="tooltipped waves-effect waves-light hoveric"
                       href="{{ path('signalComment', {'slug': comment.article.slug, 'id': comment.id}) }}"><i
                                class="material-icons couleuricone">report</i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a data-tooltip="supprimer" class="tooltipped waves-effect waves-light hoveric"
                           href="{{ path('deleteComment', {'slug': comment.article.slug, 'id': comment.id}) }}"><i
                                    class="material-icons couleuricone ">delete</i></a>
                    {% endif %}
                </div>
            </div>
            {{ self.afficherCommentaires(comment.childs) }}
        </div>



    {% endfor %}
{% endmacro %}
