{% extends "layout.html.twig" %}
{% block titre %}{{ article.title }}{% endblock %}
{% import "Actualites/showComments.html.twig" as macro %}
{% block title %}
    Lecture d'un Article - {{ parent() }}
{% endblock %}
{% block facebookMeta %}
    <!-- Meta Facebook -->
    <meta property="og:url"           content="{{ path('view_article', {'slug': article.slug}) }}"/>
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="NAO - Nos amis les oiseaux" />
    <meta property="og:description"   content="Etude du comportement des oiseaux" />
    <meta property="og:image"         content="{{ vich_uploader_asset(article, 'imageFile') }}" />
{% endblock %}
{% block facebookScript %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
{% block content %}

    {#page entiere#}
    <div class="containertemplate">

        {#cadre bleu gris#}
        <div class="article col m10 blue-grey lighten-5 offset-m1 left-align z-depth-2">
            {#titre h1#}
            <div class="row">
                <div class="col m10 offset-m1 left-align">
                    <h1 class="lime-text text-darken-2" id="articleh1"> {{ article.title }}</h1>
                </div>
            </div>

            {#date et nombre de commentaires#}
            <div class="row">
                <div class="col m10 offset-m1 left-align">
                    <p>Article publié le {{ article.date|date('d/m/Y à H:i') }}
                        {% if article.enableComments == true  %}
                    <span id="nbcomment">{{ article.comments|length }} commentaire(s)</span></p>
                    {% endif %}
                    {# Bouton partage Facebook#}
                    <div class="fb-share-button" data-href="{{ path('view_article', {'slug': article.slug}) }}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2FGroupe23%2Fweb%2Fapp_dev.php%2Factualites%2Ftest-3&amp;src=sdkpreparse">partager</a></div>
                </div>
            </div>

            {#image#}
            <div class="row">
                <div class="col m10 offset-m1">
                    {% if article.imageName is not null %}
                        <img class="imagearticle z-depth-1" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}"/>
                    {% endif %}
                    {{ article.content|rawdescr }}
                </div>
            </div>

            {#boutons#}
            <div class="row ">
                <div class="col s10 offset-s1 center-align">

                    {#bouton retour#}
                    <p>
                        <a class="btn-large waves-effect waves-light deep-orange darken-4 articlebtn" id="articleretour" href="{{ path('actualites') }}">
                            Retour
                        </a>

                        {#bouton super admin modifier#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn-large waves-effect waves-light deep-orange darken-4 articlebtn" id="editarticle" href="{{ path('editArticle', {'slug': article.slug}) }}">
                                Modifier
                            </a>
                        {% endif %}

                        {#bouton commenter quand commentaires activés#}
                        {% if article.enableComments == true  %}
                            {% if is_granted('ROLE_USER') %}
                                <a data-target="modal2" class="btn-large waves-effect waves-light deep-orange darken-4 modal-trigger articlebtn" id="articleusercommenter" href="{{ path('addComment', {'slug': article.slug}) }}" target="_blank">
                                    Commenter
                                </a>
                            {% else %}
                                <a class="btn-large waves-effect waves-light deep-orange darken-4 articlebtn" id="articlecommenter" href="{{ path('fos_user_security_login') }}">
                                    Commenter
                                </a>
                            {% endif %}
                        {% endif %}





                    </p>
                </div>
            </div>

          <br />

            <div class="divider"></div>


        {% if article.enableComments == true  %}
            <div class="section">

            <div class="row">
                <div class="col m10 offset-m1 left-align">
                    <h2 class="lime-text text-darken-2" id="articleh2"> Commentaires</h2>
                    {% if article.comments|length == 0 %}
                        <p>Aucun commentaire enregistré.</p>
                    {% else %}
                        {{ macro.afficherCommentaires(comments) }}
                    {% endif %}
                </div>
            </div>
            </div>

        {% endif %}
        </div>
    </div>


{% endblock %}
