{% extends "layout.html.twig" %}
{% import "Actualites/showComments.html.twig" as macro %}
{% block title %}
    Lecture d'un Article - {{ parent() }}
{% endblock %}
{% block content %}

    {#page entiere#}
    <div class="containertemplate">

        {#cadre bleu gris#}
        <div class="article col m10 blue-grey lighten-5 offset-m1 left-align z-depth-2">

            {#titre h1#}
            <div class="row">
                <div class="col m10 offset-m1 left-align">
                    <h1 class="lime-text text-darken-2"> article</h1>
                </div>
            </div>

            {#titre h2#}
            <div class="row">
                <div class="col m10 offset-m1 left-align">
                    <h2 class="blue-grey-text-text text-blue-grey darken-3"> {{ article.title }}</h2>
                </div>
            </div>

            {#date et nombre de commentaires#}
            <div class="row">
                <div class="col m10 offset-m1 left-align">
                    <p>le {{ article.date|date('d/m/Y à H:i') }}</p>
                </div>
                {% if article.enableComments == true  %}
                    <div class="col m2">
                        <h3> {{ article.comments|length }}</h3>
                        <span>commentaire(s)</span>
                    </div>
                {% endif %}
            </div>

            {#image#}
            <div class="row">
                <div class="col m10 offset-m1">
                    {% if article.imageName is not null %}
                        <img class="imagearticle z-depth-1" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}"/>
                    {% endif %}
                    {{ article.content|rawdescr }}
                </div>
            </div>

            {#boutons#}
            <div class="row ">
                <div class="col s10 offset-s1 center-align">

                    {#bouton retour#}
                    <p>
                        <a class="btn-large waves-effect waves-light deep-orange darken-4 articlebtn" id="articleretour" href="{{ path('actualites') }}">
                            Retour
                        </a>

                        {#bouton commenter quand commentaires activés#}
                        {#{% if article.enableComments == true  %}#}
                        {% if is_granted('ROLE_USER') %}
                            <a class="btn-large waves-effect waves-light deep-orange darken-4 openmodal articlebtn" id="articleusercommnenter" href="{{ path('addComment', {'slug': article.slug}) }}" target="_blank">
                                Commenter
                            </a>
                        {% else %}
                            <a class="btn-large waves-effect waves-light deep-orange darken-4 articlebtn" id="articlecommenter" href="{{ path('fos_user_security_login') }}">
                                Commenter
                            </a>
                        {% endif %}
                        {# {% endif %}#}

                        {#bouton super admin modifier#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn-large waves-effect waves-light deep-orange darken-4 articlebtn" id="editarticle" href="{{ path('editArticle', {'slug': article.slug}) }}">
                                Modifier
                            </a>
                        {% endif %}
                    </p>

                </div>
            </div>
        </div>

        {% if article.enableComments == true  %}
            {{ macro.afficherCommentaires(comments) }}
        {% endif %}

    </div>

{% endblock %}
