{% extends "layout.html.twig" %}
{% block titre %}observation{% endblock %}
{% block googleMapScript %}
    {% if is_granted('ROLE_ADMIN') %}
        <script src="{{ asset('js/viewObsMapAdmin.js') }}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrUDDkqQBXoHminEFVSDAAgF8jksDroU&callback=initMap">
        </script>



    {% else %}
        <script src="{{ asset('js/viewObsMapUser.js') }}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrUDDkqQBXoHminEFVSDAAgF8jksDroU&callback=initMap">
        </script>

    {% endif %}
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();

        });
        $('.collapsible').collapsible();
    </script>

    <div class="containertemplate">
        <div class="observation col m10 blue-grey lighten-5 offset-m1 left-align z-depth-2">
            <div class="row">
                <div class="modobs-title lime-text text-darken-2 col s12 m8"><!-- debut titre de l'observation -->
                    <h4>{{ observation.taxref.lbnom }}</h4>observation du {{ observation.date|date("d-m-Y") }}<br>

                </div><!-- Fin titre de l'observation -->

                <div class="frame-round">
                    <div class="crop">
                        <img src="{{ vich_uploader_asset(observation.user, 'avatarFile') }}" class="imgcrop"
                             alt="{{ observation.user.username }}"/>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="obsimage col s12 m6 l4 center-align"><!-- debut photo de l'observation -->
                    {% if observation.imageName %}
                        <img src="{{ vich_uploader_asset(observation, 'imageFile') }}"
                             class="z-depth-2 responsive-img materialboxed "
                             data-caption="{{ observation.taxref.lbnom }} observé(e) le  {{ observation.date|date("d-m-Y") }}"
                             alt="{{ observation.taxref }}"/>
                        {% else %}
                        <img class="responsive-img" style="max-height: 250px;" src="{{ asset('images/placeholder.jpg') }}">
                    {% endif %}

                </div><!-- Fin photo de l'observation -->

                <div class="col s12 offset-l2 l6 m6">
                    <div class="card white">
                        <div class="card-content blue-grey-text text-darken-3">
                            <div class="chip flow-text card-title lime darken-2 blue-grey-text text-lighten-5">
                                <img src="{{ vich_uploader_asset(observation.user, 'avatarFile') }}"
                                     class="responsive-img circle" alt="{{ observation.user.username }}"/>
                                commentaire
                            </div>
                            <blockquote>
                                {{ observation.comment }}
                            </blockquote>
                        </div>
                        <div class="card-action">
                            {% if is_granted('ROLE_ADMIN') %}
                            {% if observation.waiting == true %}
                                <a data-target="modal1" href="{{ path('validation', {'id': observation.id}) }}"
                                   class="modal-trigger">Traiter l'observation</a>
                            {% endif %}
                                <a href="{{ path('adminObservations') }}">liste des observations</a>
                            {% endif %}
                            <a href="{{ path('user_listTaxrefs') }}">Carte</a>
                        </div>
                    </div>


                </div>
            </div>


            <div class="row">
                <div class="col s12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons lime-text text-darken-2">photo</i>état
                            </div>
                            <div class="collapsible-body"><span>
                {% if observation.waiting == true %}
                    <span><i class="material-icons lime-text text-darken-2">watch_later</i>en attente...</span>
                {% elseif observation.valided == true %}
                    <span><i class="material-icons lime-text text-darken-2">check_circle</i>validée.</span>
                {% else %}
                    <span><i class="material-icons lime-text text-darken-2">cancel</i>non validée.</span>
                {% endif %}
                    </span>
                            </div>

                        </li>
                        {% if observation.adminComment %}
                            <li>
                            <div class="collapsible-header"><i
                                        class="material-icons lime-text text-darken-2">message</i>avis du
                                naturaliste
                            </div>
                            <div class="collapsible-body">
                                <span>{{ observation.adminComment }}</span>
                            </div>
                            </li>{% endif %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons lime-text text-darken-2">photo</i>Détails
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12 m4">
                                        <input disabled value="{{ observation.date|date('d/m/Y à H:i') }}" id="date"
                                               type="text" class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="date">date
                                            d'enregistrement</label>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <input disabled value="{{ observation.dateObservation|date('d/m/Y') }}"
                                               id="obsdate" type="text"
                                               class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="first_name">date de
                                            l'observation</label>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <input disabled value="{{ observation.user.username }}" id="obsauthor"
                                               type="text" class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="obsauthor">auteur</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m4">
                                        <input disabled value="{{ observation.taxref }}" id="taxref" type="text"
                                               class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="taxref">espèce</label>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <input disabled value="{{ observation.taxref.famille }}" id="famille"
                                               type="text" class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="famille">famille</label>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <input disabled value="{{ observation.taxref.habitat }}" id="habitat"
                                               type="text" class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="habitat">habitat</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m4">
                                        <input disabled
                                               value="{% if is_granted('ROLE_ADMIN') %}{{ observation.latitude }}{% else %}{{ observation.latitude|number_format(3) }}{% endif %}"
                                               id="latitude" type="text"
                                               class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="latitude">latitude</label>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <input disabled
                                               value="{% if is_granted('ROLE_ADMIN') %}{{ observation.longitude }}{% else %}{{ observation.longitude|number_format(3) }}{% endif %}"
                                               id="username" type="text"
                                               class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="username">longitude</label>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <input disabled
                                               value="{% if is_granted('ROLE_SUPER_ADMIN') %}Super administateur{% elseif is_granted('ROLE_ADMIN') %}Administrateur naturaliste{% else %}Observateur{% endif %}"
                                               id="role" type="text"
                                               class="flow-text validate blue-grey-text text-darken-3 police32">
                                        <label class="flow-text lime-text text-darken-2 police32" for="role">Rôle</label>
                                    </div>
                                </div>
                                {% if observation.taxref.link is not null %}
                                    <div class="row center-align">
                                        <div class="col m6"><a
                                                    class="btn-large waves-effect waves-light deep-orange darken-4"
                                                    id="editprofile"
                                                    href="{{ observation.taxref.link }}" role="button">Fiche
                                                d'information</a></div>

                                    </div>
                                {% endif %}


                                <!-- -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">

                <div id="view-obs-map"><p class="text-map materialboxed">Si la carte ne s'affiche pas, essayez
                        d'actualiser la page.</p></div>

            </div>
        </div>
    </div>
    <div class="hide">
        {% if is_granted('ROLE_ADMIN') %}
            <span id="view-obs-latitude">{{ observation.latitude }}</span><span
                id="view-obs-longitude">{{ observation.longitude }}</span>
        {% else %}
            <span id="view-obs-latitude">{{ observation.latitude|number_format(3) }}</span><span
                id="view-obs-longitude">{{ observation.longitude|number_format(3) }}</span>
        {% endif %}
    </div>
{% endblock %}
