{% extends "layout.html.twig" %}
{% block googleMapScript %}
    {% if is_granted('ROLE_ADMIN') %}
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrUDDkqQBXoHminEFVSDAAgF8jksDroU&callback=initMap">
        </script>
        <script src="{{ asset('js/viewObsMapAdmin.js') }}"></script>

    {% else %}
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOrUDDkqQBXoHminEFVSDAAgF8jksDroU&callback=initMap">
        </script>
        <script src="{{ asset('js/viewObsMapUser.js') }}"></script>
    {% endif %}
{% endblock %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row">
                <h1>Observation</h1>
                <div id="view-obs-map"></div>
                {% if observation.image is not null %}
                    <img style="height:150px; float:right; margin-right: 100px" src="{{ asset(observation.image) }}"/>
                {% endif %}

                <p>Date d'enregistrement : le {{ observation.date|date('d/m/Y à H:i') }}</p>
                <p>Date de l'observation : le {{ observation.dateObservation|date('d/m/Y') }}</p>
                <p>Auteur : {{ observation.user.username }} </p>
                <p>Espèce : {{ observation.taxref }}</p>
                <p>Famille : {{ observation.taxref.famille }} </p>
                <p>Commentaire : {{ observation.comment }}</p>
                {% if is_granted('ROLE_ADMIN') %}
                    <p>Latitude: <span id="view-obs-latitude">{{ observation.latitude }}</span></p>
                    <p>Longitude: <span id="view-obs-longitude">{{ observation.longitude }}</span></p>
                    {% else %}
                        <p class="latLng-hide">Latitude: <span id="view-obs-latitude">{{ observation.latitude }}</span></p>
                        <p class="latLng-hide">Longitude: <span id="view-obs-longitude">{{ observation.longitude }}</span></p>
                {% endif %}

            </div>
        </div>
{% endif %}
{% endblock %}
